
{% extends 'base.html' %}

    {% block title %} <title>Change Password</title> {% endblock %}

	{% block body %}
    <main class="pt-5">
        <div class="container">
            <div class="row mt-5 mb-4">
            <div class="col-md-12 div-color-2">
                <h3 class="text-center font-up font-bold mr-3 ml-3 wow fadeInDown" data-wow-delay="0.1s">Change Password</h3>
            </div>
        </div>
            <form method="post">
            	{% csrf_token %}
            	{{ form.as_p }}
            	<button type="submit">Submit</button>
            </form>

        </div>
    </main>
	{% endblock %}
