

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'accounts/css/gallery.css' %}">
<script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
<script src='https://cdn2.hubspot.net/hub/322787/hub_generated/style_manager/1440007714979/custom/page/hack-a-thon-3/masonry.min.min.js'></script>
<script src='https://cdn2.hubspot.net/hub/322787/hub_generated/style_manager/1440007849180/custom/page/hack-a-thon-3/isotope.min.js'></script>
<script src="{% static 'accounts/js/gallery.js' %}"></script>

<style>
.fa-trash{
  font-size: 20px;
  margin-bottom: 2px;
}
.buttons{
  display: inline-block;
}
.crop{
    object-fit:cover;
    width:450px;
    height:400px;
}
</style>

{% if photoes.user == request.user %}
    <a href="{% url 'accounts:random_photo' %}" style="float: right;">Add New Photo</a>
{% endif %}

<div class="row">
        {% if photoes %}
          {% for photo in photoes %}

            <div class="col-md-3 wow fadeIn" data-wow-delay="0.2s">
            <div class="card mb-5 " >
              <!--Card image-->
              <a href="{{ photo.photo_file.url }}"><img class="img-fluid crop" src="{{ photo.photo_file.url }}" alt="Card image cap"></a>
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <b><h4 class="card-title text-capitalize" >{{ photo.say_something }}</h4></b>
                  <!--Text-->
                   By :<small class="font-italic"><b>{{ photo.user.username }}</b> on {{ photo.randomphoto_added }}</small>
                <div class="buttons">
                  <div class="fb-like" data-href="http://www.photographyadda.com/{{ photo.photo_file.url }}/" data-width="100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                  {% if photo.user == request.user %}
                  <a href="{% url 'accounts:delete_random_photo' photo.id %}" ><i class="fa fa-trash align-top" aria-hidden="true"></i></a>
                  {% endif %}
                </div>
                  <br />
                  <br />
                  <!-- add comment -->
                            <form action="{% url 'accounts:randomphoto_comment' photo.id %}" method="POST"  style="display: inline;">
                                {% csrf_token %}


                                <input type="text" name="body" value="" placeholder="Comment here" /><br/>

                                <button type="submit" class="btn btn-primary btn-sm waves-effect mt-3">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>


                            </form>
                            <!--button to display comment in new division -->
                        <a class="btn btn-sm btn-primary waves-effect mt-3" data-toggle="modal" data-target="#commentBox-{{ photo.id }}"><i class="fa fa-comments" aria-hidden="true"></i></a>

              </div>
            </div>
        </div>
            {% cycle '' '' '' '' '' '' %}
          {% endfor %}
        {% endif %}



<!--Comment Box for random photo -->
{% for photo in photoes %}
<div class="modal fade pb-5" id="commentBox-{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
        <!--Content-->
        <div class="modal-content col-sm-9">
            <!--Header-->
            <div class="modal-header light-blue darken-3 white-text">
                <h4 class="title"><i ></i> Comments</h4>
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <style>
                * {margin:0;padding:0}
                .image-box {
                  width:210px;
                  height:160px;
                  overflow:hidden;
                  background-color:white;
                  border:1px solid #ccc;
                  margin:0 2px 2px 0;
                  align-self: center;
                  color:#333;
                }
                .image-container{
                  height:180px;
                  padding:5px 5px;
                  transition:margin-top .4s ease-in-out .4s;
                }
                </style>
                <div class="image-box">
                  <div class="image-container">
                    <img width="200" height="150" src="{{ photo.photo_file.url }}" alt="{{ photo.id }}">
                  </div>
                </div>
            <p class="font-weight-bold">by:{{ photo.user.username }}</p>
            {% for comment in comments %}
              {% if comment.randomphoto == photo %}
              <li class="wow fadeIn hoverable" style="font-family:'Satisfy', cursive;">{{ comment.body }}<small style="color:green;"> by : {{comment.user.first_name}} {{comment.user.last_name}} on {{ comment.pub_date }}</small></li>
              {% endif %}
            {% endfor %}
            </div>
        </div>
        <!--/.Content-->
    </div>
    {% endfor %}
    <!--comment box -->
    <!--pagination-->
</div>
    <div class="d-flex pt-5 pb-3">
      {% if photoes.has_other_pages %}
      <ul class="pagination pagination-circle mx-auto pg-blue mb-0">
        {% if photoes.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ photoes.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in photoes.paginator.page_range %}
          {% if photoes.number == i %}
              <li class="page-item active">
                <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
              </li>
          {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if photoes.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ photoes.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}

      </ul>
      {% endif %}
    </div>
    <!--/pagination-->

    <br>
<!--Random photo row division ends here-->




