
{% extends 'base.html' %}

    {% block body %}
    <main class="text-center pt-5">
    <div class="container pt-5">
	     <h3 class="pt-5 pb-5 font-weight-bold">Have you forgot your password ? <br> No need to worry, enter your email address below,<br> and we'll email instructions for setting a new one.</h3>

	     <form method="post">
	     	{% csrf_token %}

	     	{{ form.as_p }}

	     	<button class="btn btn-primary text-center mb-5 mt-5 waves-effect" type="submit"><strong>Reset Password</strong></button>

	     </form>
    </div>

    {% endblock %}

